.wrapper {
  background-color: grey;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  overflow: hidden;
}

.container {
  width: 100%;
  height: auto;
}
