.wrapper {
  background-color: grey;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  overflow: hidden;
  bottom: 0px;
  position: static;
}

.container {
  width: 100%;
  height: auto;
}

.text {
  font-size: calc(16px + 2vmin);
}
